#first{
    display: flex;
}
#car{ 
    width: 40%;    
    border: solid 3px gray;
    border-radius: 4px;
    position: relative;
    left: 60%;
    display: block;
    margin-top: 8px;
}
#me{
    position: absolute;
    width: 58%;
    margin-left: 15px;
    margin-top: 8px
}
#telemail{
    background-color: unset !important;
    border: unset !important;
    color: #0d6efd;
    text-decoration: underline;
    padding: 0 !important;
    margin-left: 5px !important;
}
header{
    background-image:url("../IMG/back.webp");
    height: 110px;;
}
h1{
    background-color: black;
    width: 33%;
    margin:auto;
    border: 2px solid;
    border-radius: 21px;
    color: white;
    text-align: center;
    display: block;
    position: relative;
    top: 5px;
    padding: 7px 30px;
    line-height: 35px;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    min-width: fit-content;
}
#titlepost{
    font-size: 1rem;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 750px){ 
    h1{
        font-size: 5vw;
        padding: 5px 20px;        
      
    }
    #titlepost{
        font-size:4vw;
    }
    #car{
        width: 100%;
        position: unset;
    left: unset;
    display: block;
    }
}