#first{
    display: flex;
}
#car{ 
    width: 40%;    
    border: solid 3px gray;
    border-radius: 4px;
    position: relative;
    left: 60%;
    display: block;
    margin-top: 8px;
}
#me{
    position: absolute;
    width: 58%;
    margin-left: 15px;
    margin-top: 8px
}
#contact{
    padding-bottom: 45px;
    padding-top: 10px;
    background-color: #80808017;
}
#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #cd5d577a;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    padding-top: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}
textarea{
    width: 56%;
    height: 6vw;
    margin-bottom: 23px;
   
}
.inputForm{
    width: 30%;
}


/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.1rem;
    padding: .75rem 2rem;
  }
}
.formLabel{
    font-weight: bolder;
    margin-bottom: 10px;
}
.buttonUnset{
    background-color: unset !important;
    border: unset !important;
    color: #0d6efd;
    text-decoration: underline;
    padding: 0 !important;
    margin-left: 5px !important;
}
.exit{
    
    position: fixed;
    right: 12.9%;
    margin-top: -9px;

}
.exitArrow{
    background: #2d567c;
    padding: 15px;
    margin-right: 7px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #e8bb8f;
    border-radius: 19px;
    border: solid;
   
}
.exitArrow:hover{
    animation: color 1s forwards;
    border: solid 5px; 
    font-weight: bolder;
    
}
.titreContact{
    text-align: center;
    margin-top: 10px;

}

.titreCv{
    text-align: center;
    line-height: 40px;
    margin-top: 14px;  
    font-family:system-ui, 'Courier New', Courier, monospace;
}
.projets{
    width: 30%;
    text-align: end;
    font-weight: bolder;
}
.projetTitle{
    width: 67%;
}
.liens a:hover , .liens a:focus{
    color:#0d6efd !important;
    text-decoration: underline;
}
#accordProjets{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.projetCreations{
    line-height: 40px;
    font-family: system-ui, 'Courier New', Courier, monospace;
    border-bottom: solid 3px #cd5d57;
    width: fit-content;
    margin: auto;
    margin-top: 12px;
    padding: 8px 33px;
    border-radius: 7px;
    color:#313c55;
}
.cvGrand{
    border: solid 3px #80a3be;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 25px !important;
    padding-right: 20px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-top: 16px;
}
header{
    background-image:url("../IMG/back.webp");
    height: 125px;
    background-repeat: round;
}
a , a:visited{
    color:unset ;
    text-decoration: unset;
}
h1{
    background-color: black;
    width: 33%;
    margin:auto;
    border: 2px solid;
    border-radius: 21px;
    color: white;
    text-align: center;
    display: block;
    position: relative;
    top: 5px;
    padding: 7px 30px;
    line-height: 35px;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    min-width: fit-content;
}
#titlepost{
    font-size: 1rem;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes color{
    100%{
        color:#d56255;
        transform: rotate(360deg) scale(1.2);
    }
}

@media screen and (max-width: 750px){ 
    h1{
        font-size: 5vw;
        padding: 5px 20px;        
      
    }
    #titlepost{
        font-size:4vw;
    }
    #car{
        width: 100%;
        position: unset;
    left: unset;
    display: block;
    }
}